.link {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  position: relative;
  padding-bottom: 8px;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
  border-bottom: 2px solid white;
  transition: transform 0.2s ease-in-out;
}

.link:hover::after {
  transform: scaleX(1);
}

.link svg {
  transition: transform 0.3s ease-in-out;
}

.link:active svg {
  transform: translateX(4px);
}
