.item {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  position: relative;
  --line-border: 4px solid white;
}

.item + .item {
  margin-top: 64px;
}

.item-detail {
  flex: 1 0 0;
  z-index: 1;
}

.item-detail > * + * {
  margin-top: 8px;
}

.item-image {
  flex: 0 0 250px;
  align-self: center;
  max-width: 250px;
  max-height: 250px;
  position: relative;
}

.item-image::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--bg);
  filter: blur(8px);
  z-index: -1;
}

.item-image > img {
  border-radius: 16px;
  overflow: hidden;
  object-fit: cover;
}

.up-line,
.down-line,
.connect-line {
  --direction: to left;
  --line-border: 4px solid transparent;
  --from: white;
  --to: white;
  background: linear-gradient(var(--direction), var(--from), var(--to))
    border-box;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

/* Right Line */

.item:nth-child(even) .up-line {
  position: absolute;
  /* background-color: red; */
  left: 50%;
  top: 0;
  width: 50%;
  height: calc(250px / 2 + 2px);
  border-bottom: var(--line-border);
  border-right: var(--line-border);
  border-bottom-right-radius: 16px;
  --direction: to right;
  /* z-index: 4; */
}

.item:nth-child(odd) .down-line {
  position: absolute;
  /* background-color: red; */
  top: calc(250px / 2 - 2px);
  left: 50%;
  width: 50%;
  height: calc(250px / 2 + 2px);
  border-top: var(--line-border);
  border-right: var(--line-border);
  border-top-right-radius: 16px;
  --direction: to right;
  /* z-index: 4; */
}

.item:nth-child(odd) .connect-line {
  position: absolute;
  /* background-color: green; */
  top: 250px;
  left: 50%;
  width: 50%;
  bottom: -64px;
  border-right: var(--line-border);
  --direction: to bottom;
}

.item:first-child .up-line {
  display: none;
}

/* Left Line */

.item:nth-child(odd) .up-line {
  position: absolute;
  /* background-color: red; */
  left: 0%;
  right: 50%;
  top: 0%;
  height: calc(250px / 2 + 2px);
  /* z-index: 4; */
  border-left: var(--line-border);
  border-bottom: var(--line-border);
  border-bottom-left-radius: 16px;
  --direction: to left;
}

.item:nth-child(even) .down-line {
  position: absolute;
  /* background-color: red; */
  left: 0%;
  right: 50%;
  top: calc(250px / 2 - 2px);
  height: calc(250px / 2 + 2px);
  /* z-index: 4; */
  border-left: var(--line-border);
  border-top: var(--line-border);
  border-top-left-radius: 16px;
  --direction: to left;
}

.item:nth-child(even) .connect-line {
  position: absolute;
  /* background-color: green; */
  left: 0%;
  right: 50%;
  top: 250px;
  bottom: -64px;
  border-left: var(--line-border);
  --direction: to bottom;
}

.item:nth-child(even) > .item-detail {
  margin-left: 16px;
}

.item:nth-child(odd) > .item-detail {
  margin-right: 16px;
}

.item:last-child .down-line,
.item:last-child .connect-line {
  display: none;
}

.item-technology {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.item-technology > p {
  flex: 0 0 0;
}

.item-technology > ul {
  flex: 1 0 0;
  list-style-type: disc;
}

.item-technology li::marker {
  font-size: 1.25rem;
}

@media (width >= 640px) {
  .item {
    flex-direction: row;
    align-items: center;
  }

  .item:nth-child(even) .item-image {
    order: -1;
  }

  /* Right to Left Line */

  .item:nth-child(even) .up-line {
    /* background-color: black; */
    width: auto;
    left: calc(250px / 2);
    width: calc(250px / 2);
    top: calc(-32px - 2px);
    bottom: 50%;
    height: auto;
    border: none;
    border-radius: 0;
    border-left: var(--line-border);
    border-top: var(--line-border);
    border-top-left-radius: 16px;
    --direction: to right;
  }

  .item:nth-child(odd) .down-line {
    left: auto;
    right: calc(250px / 2);
    width: calc(250px / 2);
    top: 50%;
    bottom: calc(-32px - 2px);
    height: auto;
    border: none;
    border-radius: 0;
    border-right: var(--line-border);
    border-bottom: var(--line-border);
    border-bottom-right-radius: 16px;
    --direction: to left;
  }

  .item:nth-child(odd) .connect-line {
    left: 250px;
    right: 250px;
    width: auto;
    top: 50%;
    bottom: calc(-32px - 2px);
    height: auto;
    border: none;
    border-radius: 0;
    border-bottom: var(--line-border);
    --direction: to left;
  }

  /* Left ro Right Line */

  .item:nth-child(even) .down-line {
    /* background-color: yellow; */
    left: calc(250px / 2);
    top: 50%;
    bottom: calc(-32px - 2px);
    width: calc(250px / 2);
    height: auto;
    border: none;
    border-radius: 0;
    border-left: var(--line-border);
    border-bottom: var(--line-border);
    border-bottom-left-radius: 16px;
    --direction: to right;
  }

  .item:nth-child(even) .connect-line {
    top: 50%;
    left: 250px;
    right: 250px;
    bottom: calc(-32px - 2px);
    height: auto;
    border: none;
    border-bottom: var(--line-border);
    --direction: to right;
  }

  .item:nth-child(odd) .up-line {
    right: calc(250px / 2);
    width: calc(250px / 2);
    left: auto;
    top: calc(-32px - 2px);
    bottom: 50%;
    height: auto;
    border: none;
    border-radius: 0;
    border-right: var(--line-border);
    border-top: var(--line-border);
    border-top-right-radius: 16px;
    --direction: to left;
  }

  .item:nth-child(odd) > .item-detail {
    margin-right: 0;
  }

  .item:nth-child(even) > .item-detail {
    margin-left: 0;
  }
}
